
<div id="maindiv">
    
    <div class="loginBox"> 
        <img class="user" src="assets/internship/userlogo.png" height="100px" width="100px">
        <h3>Recruiter</h3>
        <form action="#" method="get">
            <div class="inputBox">
                <input id="uname" type="text" name="Username" placeholder="Username">
                <input id="pass" type="password" name="Password" placeholder="Password">
            </div>
            <input type="submit" name="" value="Login" (click)="onRecruiterLogin()">
            
        </form>
        <a href="#">Forget Password<br> </a>
    </div>

</div>