<!-- <div>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Id</label>
            <input type="text" class="form-control" id="id" required [(ngModel)]="intern.id" name="id">
        </div>
        <div class="form-group">
            <label for="name">First-Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="intern.firstName" name="firstName">
        </div>
        <div class="form-group">
            <label for="name">Last-Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="intern.lastName" name="lastName">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="intern.email" name="email">
        </div>
        <div class="form-group">
            <label for="name">Qualification</label>
            <input type="text" class="form-control" id="qualification" required [(ngModel)]="intern.qualification" name="qualification">
        </div>
        <div class="form-group">
            <label for="name">Phone-Number</label>
            <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="intern.phoneNumber" name="phoneNumber">
        </div>
        <div class="form-group">
            <label for="name">UserName</label>
            <input type="text" class="form-control" id="userName" required [(ngModel)]="intern.userName" name="userName">
        </div>
        <div class="form-group">
            <label for="name">PassWord</label>
            <input type="text" class="form-control" id="password" required [(ngModel)]="intern.password" name="password">
        </div>
        <div class="form-group">
            <label for="name">Location</label>
            <input type="text" class="form-control" id="location" required [(ngModel)]="intern.location" name="location">
        </div>
        <div class="form-group">
            <label for="name">MaritalStatus</label>
            <input type="text" class="form-control" id="marital_status" required [(ngModel)]="intern.marital_status" name="marital_status">
        </div>
        <button type="submit" class="btn btn-success">Edit</button>
    </form>
</div> -->